<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154068447777-70bbsl9rsmsi27tv3snugb9hj8br2vng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154068447777-70bbsl9rsmsi27tv3snugb9hj8br2vng</string>
	<key>API_KEY</key>
	<string>AIzaSyDHA8Xc-EMBzDRwy5fYJ_Sr2PR7ZkS-5NA</string>
	<key>GCM_SENDER_ID</key>
	<string>154068447777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jubileeinvestments.Real-Estate-App</string>
	<key>PROJECT_ID</key>
	<string>real-estate-app-9a719</string>
	<key>STORAGE_BUCKET</key>
	<string>real-estate-app-9a719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154068447777:ios:72b4fdec0c1e8953b76960</string>
</dict>
</plist>